<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Gabrielqs_TransactionalEmails::sent_emails" title="Sent E-mails" translate="title" sortOrder="100" />
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="Magento_Customer::manage">
                        <resource id="Gabrielqs_TransactionalEmails::customerEmailsList" title="Sent E-mails" translate="title" sortOrder="200" />
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="Magento_Sales::sales_order">
                            <resource id="Magento_Sales::actions">
                                <resource id="Gabrielqs_TransactionalEmails::orderEmailsList" title="Sent E-mails" translate="title" sortOrder="200" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>