<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Email Repository Preferences -->
    <preference for="Gabrielqs\TransactionalEmails\Api\EmailRepositoryInterface" type="Gabrielqs\TransactionalEmails\Model\EmailRepository" />
    <preference for="Gabrielqs\TransactionalEmails\Api\Data\EmailInterface" type="Gabrielqs\TransactionalEmails\Model\Email" />
    <preference for="Gabrielqs\TransactionalEmails\Api\Data\EmailSearchResultsInterface" type="Gabrielqs\TransactionalEmails\Model\ResourceModel\Email\Collection" />

    <!-- Sent Transactional Emails Admin Grid -->
    <virtualType name="TransactionalEmailsEmailGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="transactionalemails_email_listing_data_source" xsi:type="string">Gabrielqs\TransactionalEmails\Model\ResourceModel\Email\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Gabrielqs\TransactionalEmails\Model\ResourceModel\Email\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">transactionalemails_email</argument>
            <argument name="eventPrefix" xsi:type="string">transactionalemails_emails_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">emails_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Gabrielqs\TransactionalEmails\Model\ResourceModel\Email</argument>
        </arguments>
    </type>

    <!-- Transport Preferences -->
    <preference for="\Magento\Framework\Mail\Transport" type="Gabrielqs\TransactionalEmails\Model\Transport"/>
    <preference for="\Magento\Framework\Mail\Message" type="Gabrielqs\TransactionalEmails\Model\Message"/>

    <type name="Magento\Sales\Model\Order\Email\SenderBuilder">
        <arguments>
            <argument name="transportBuilder" xsi:type="object">Gabrielqs\TransactionalEmails\Model\OrderTransportBuilder</argument>
        </arguments>
    </type>

</config>